@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

#hr {
    width: 100%;
    height: 3px;
    background: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*reset结束*/

.top {
    width: 100%;
    margin: 0 auto;
}

.top-list {
    width: 80%;
    margin: 0 auto;
    height: 60px;
    background: #3c3c3c;
    position: relative;
}

.top-logo {
    width: 100px;
    height: 60px;
    background: #8e8e8e;
    text-align: center;
    line-height: 60px;
}

.top-log-img {
    line-height: 60px;
}

.top-bar {
    position: absolute;
    top: 0;
    right: 100px;
    line-height: 60px;
}

.top-bar ul li {
    float: left;
    padding: 0 20px;
}

.top-bar ul li a {
    color: #eee;
    font-family: '微软雅黑';
}

/*  */

#box {
    width: 200px;
    height: 200px;
    background: #000;
}