* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

#clearfix::after{
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}


/* reset样式结束 */

#box {
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #000;
}

.box-list {
    width: 810px;
    height: 400px;
    margin: 70px auto;
}

.box-list-icon {
    width: 133px;
    float: left;
    height: 130px;
    border: 1px solid #000;
}

.box-list-icon:nth-child(1){
    background: #f44336;
}
.box-list-icon:nth-child(2){
    background: #e91e63;
}
.box-list-icon h2 {
    display: block;
    line-height: 130px;
    text-align: center;
}

.text-box{
    width: 810px;
    height: 136px;
    background: #000;
}

.text-content{
    text-align: center;
    color: #ffff;
    padding: 38px 0px;
    text-indent: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}